@charset "utf-8";

        /* Author: Tyler Livingston
        Start date: 6/1/2020
        Updated: July 6, 2020
		Purpose: To calculate common equations related to astronomy */

html {
   background-color: rgb(12, 36, 59);
}

/* Page Body Styles */
body {
   background-color: rgb(219, 219, 216);
   font-family: Verdana, Geneva, Arial, sans-serif; 	
   margin-left: auto;
   margin-right: auto;
   width: 960px;  
}

/* Body Header Styles */
body > header > img {
	display: block;
	width: 100%;
}

body > header > nav#topLinks {
	background-color: rgb(255, 255, 255);
	color: white;
	line-height: 1.7em;
	text-align: right;
	padding: 5px 10px 5px 0px;
}

/* Navigation */

nav#topLinks a:link, nav#topLinks a:visited {
	color: white;
}

nav#topLinks a:hover, nav#topLinks a:active {
	color: rgb(248, 237, 212);
}

nav#mainLinks ul li {
	background-color: rgb(155, 155, 155);	
	display: block;
	float: left;
	text-align: center;
    width: 20%;	
}

nav#mainLinks ul li a {
	color: white;	
	display: block;
	height: 2.5em;	
	text-align: center;
	line-height: 2.5em;	
}

nav#mainLinks a:link, nav#mainLinks a:visited {
	color: white;
}

nav#mainLinks a:hover, nav#mainLinks a#currentPage {
    background-color: rgb(0, 0, 0);
}

/* Article  Styles */

article {
   clear: left;	
   width: 90%;
   margin: 10px auto;
   padding: 10px 20px;
   line-height: 1.7;
}

article h1 {
	font-family: Baskerville, "Palatino Linotype", Palatino, 
	             "Century Schoolbook", "Times New Roman", serif;
	font-size: 2.5em;
	color: rgb(0, 0, 0);		
	text-align: center;	
}

article #calculationHeader {
	font-family: Baskerville, "Palatino Linotype", Palatino, 
	             "Century Schoolbook", "Times New Roman", serif;
	font-size: 1.5em;
	color: rgb(0, 0, 0);		
	text-align: center;	
}

#calculation {
	border: 2px solid;
	border-radius: 5px;
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 20px;
}

article p, #websiteOverview, #websitesOfInterest, #sources {
	clear: both;
    margin-bottom: 20px;	
	text-align: left;
}

article #description, #notes, #userInputLabel, #equation, #equationVariablesLabel, #submitDataAreaLabel, #resultLabel {
	margin-top: 20px;
	font-weight: bold;
}

article #input {
	word-wrap: break-word;
}

article ul {
	padding-left: 2em;
	padding-right: 1em;
}

article::after {
   clear: both;   
   content: "";
   display: table;
}

/* Fractions */

.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: thin solid black;
}
.frac span.symbol {
    display: none;
} 

/* Footer Styles */
footer {
	background-color: rgb(155, 155, 155);	
	color: white;	
	font-size: 0.7em;
	padding: 25px;
}

footer > div.companyName{
    float: left;
}

footer > div.versionNumber{
    float: right;
}


